<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the dashboard page.</p>
    <div>
      <a class="color-error" href="/">Sign out</a>
    </div>
    </br>
    <img src="https://s3media.247sports.com/Uploads/Assets/343/429/7429343.jpg"/>
    <script src="./javascripts/homePage.js"></script>
  </body>
</html>
