<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/homePage.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <a href="/login">Sign in</a>
    </div>
    </br>
    <img src="https://s3media.247sports.com/Uploads/Assets/343/429/7429343.jpg"/>
  </body>
</html>
