<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the home page.</p>
    <div class="section">
      <a class="color-success" href="/login">Sign In</a>
      <a href="/register">Sign Up</a>
    </div>
    <hr/>
    </br>
    <script src="./javascripts/homePage.js"></script>
  </body>
</html>
