<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="section">
      <input type="text" placeholder="Username" />
      <input type="text" placeholder="Password" />
      <button id="sign-in-user">Sign In</button>
      <a href="/">Cancel</a>
    </div>
    <hr/>
    <div class="section">
      <p>Don't have an account?</p>
      <a href="/register">Sign up</a>
    </div>
    <script src="./javascripts/loginPage.js"></script>
  </body>
</html>
