<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/dashboard">Dashboard</a>
    <a class="color-error" href="/">Sign out</a>
    <hr/>
    <p>Welcome to the user profile page!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/w0HgHet0sxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </body>
</html>
