<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="section">
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
    </div>
    <br/>
    <div class="section">
      <input type="text" placeholder="User Name" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
    </div>
    <hr/>
    <div class="section">
      <button id="register-user">Register user</button>
      <a class="color-error" href="/">Cancel</a>
    </div>
    <script src="./javascripts/registerPage.js"></script>
  </body>
</html>
