<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/loginPage.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <input type="text" placeholder="User Name" />
    <input type="text" placeholder="Password" />
    <input type="text" placeholder="Confirm Password" />
    <button>Submit</button>
    <div>
      <a href="/">Cancel</a>
    </div>
  </body>
</html>
